.image{
    width: 150px;
    aspect-ratio: 1/1;
}
.mainContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border: 1px solid rgb(235, 235, 229);
    border-radius :12px; 
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);

}
.details{
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0px 0px 0px 20px;   
    gap: 15px; 
}
.cartButton{
    padding: 10px 20px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}
.cartButton:hover{
    background-color: #3a9a3f; /* Darker green */
}
.cartButton:active{
    transform: scale(0.95);
}
p{
    font-size: 1.3rem;
    font-weight: bold;
    color: #333;
}
.quantity{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.symbols{
    font-size: 1.5rem;
    color: #333;
    width: 30px;
}
.symbols:hover{
    cursor: pointer;
    color: #007BFF; /* Change color on hover */
}