.btn{
    background-color: #ed4cbf;
    font-size: 2rem;
    border: none;
    color:white;
    padding: 5px 20px;
    margin: 20px 20px 0px 0px;
    border-radius: 5px;
    cursor: pointer;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}